body {
    overflow: hidden;
}

#container {
    width: 100%;
    height: 90dvh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
}

.header1 {
    width: 60%;
    text-align: center;
    margin-bottom: 50px;
}

.header1 h1 {
    font-weight: 300;
    font-size: 4vw;
    color: var(--text);
}

.header1 p {
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: var(--text-dim);
    font-weight: 300;
}

.deck-cards {
    display: flex;
    gap: -40px;
    margin-bottom: 100px;
}

.card {
    width: 320px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.65);
    overlay: auto;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}

.deck-card1 {
    margin-top: 190px;
    transform: rotate(-25deg) translateY(0);
    margin-right: -100px;
    z-index: 5;
    background-image: url(../images/una.webp);
    background-size: cover;
    background-position: center;
}

.deck-card1:hover {
    transform: rotate(-25deg) translateY(-3px);
}

.deck-card5 {
    margin-top: 190px;
    transform: rotate(25deg) translateY(0);
    margin-left: -100px;
    z-index: 1;
    background-image: url(../images/op.jpg);
    background-size: cover;
    background-position: center;
}

.deck-card5:hover {
    transform: rotate(25deg) translateY(-3px);
}

.deck-card3 {
    z-index: 3;
    transform: translateY(0);
    background-image: url(../images/pokemonback.webp);
    background-size: cover;
    background-position: center;
}

.deck-card3:hover {
    transform: translateY(-3px);
}

.deck-card2 {
    margin-top: 50px;
    transform: rotate(-8deg) translateY(0);
    margin-right: -50px;
    z-index: 4;
    background-image: url(../images/Magic_card_back.png);
    background-size: cover;
    background-position: center;
}

.deck-card2:hover {
    transform: rotate(-8deg) translateY(-3px);
}

.deck-card4 {
    margin-left: -50px;
    margin-top: 50px;
    transform: rotate(8deg) translateY(0);
    z-index: 2;
    background-image: url(../images/digi.webp);
    background-size: cover;
    background-position: center;
}

.deck-card4:hover {
    transform: rotate(8deg) translateY(-3px);
}